torch == '2.1.1+cu121'
torchvision == '0.16.1+cu121'
geotorch == '0.3.0'
geomloss == '0.2.6'
ot == '0.7.0'
numpy == '1.19.4'
scipy == '1.5.4'
matplotlib == '3.8.5'
tqdm == '4.53.0'
PIL == '8.0.1'
argparse == '1.1'
